<p><center><h1>lec.ker</h1></center></p>
<p><h2>Edit Bookmark:</h2></p>
<form method="post" action="">        <p>        <p>        Title:<input type="text" name="title" value="$bookmark.title" size="100" />        </p>        Url:<input type="text" name="url" value="$bookmark.url" size="100" />        </p>        Tags:<input type="text" name="tags" value="$bookmark.tags" size="100" />        </p>        <input type="submit" value="Edit" />        </p>        </form>
<p>        <hr/>        </p>
<a href="../">Back</a>